discord.py >= 1.7.0
python-dotenv
aiohttp
requests
tweepy >= 3.10.0
beautifulsoup4 >= 4.9.3
gspread >= 3.7.0
pillow >= 8.2.0
pytest >= 5.4.3
pytest-asyncio >= 0.15.1
mcstatus >= 6.4.0
dnspython >= 2.1.0
